@using CarInsuranceMVC.Models
@model List<Quote>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h2 class="m-0">Quotes</h2>
        </div>
        <div class="card-body">
            @foreach (var entry in Model)
            {
               
            @*<input type="hidden" name="Id" value="@entry.Id" />*@
            <div class="row mb-3">
                <p class="col-2">
                    @entry.FirstName
                </p>
                <p class="col-2">
                    @entry.LastName
                </p>
                <p class="col-4">
                    @entry.EmailAddress
                </p>
                <p class="col-2">
                    @entry.Quote1 
                </p>
                <br />
                <br />
            </div>
                }

        </div>
    </div>
</div> 